.form_container{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 12px;
    border:1px solid white;
    box-shadow: 0 2px 8px rgba(0,0,0,.25);
    background-color: #696565;
}
.form_container div{
    display: flex;
    flex-direction: column;
    width: 20em;
    padding: 0.2em 0;
}
.form_container{
    color:white;
}
.form_container div input{
    border-radius: 2px;
}
.form_container button.submit-button{
    background-color:#61048c;
    padding: .35em;
    border: none;
    color: white;
    font-size: medium;
    border-radius: 4px;
}

@media screen and (max-width: 1000px){
    .form_container button.submit-button{
        font-size: small;
    }
}